<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{% static 'stockmusic_app/blam.jpg' %}"/>

    <title>$tock$ong</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.1.3/mustache.min.js"></script>


    <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'stockmusic_app/main.css' %}">
    <script src="{% static 'stockmusic_app/flocking-all.min.js' %}"></script>
    <script src="{% static 'stockmusic_app/myStuff.js' %}"></script>
    <script src="{% static 'stockmusic_app/d3.min.js' %}"></script>
    <script src="{% static 'stockmusic_app/synths.js' %}"></script>
    <script src="{% static 'stockmusic_app/domScript.js' %}"></script>
    <script src="{% static 'stockmusic_app/Chart.min.js' %}"></script>

  </head>

  <body role="document">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="">Home</a></li>
            <li><a href="#" onclick="alert('$tock$ong is a project by Bjorn Winberg, with much help from Thomas Harvey. Contact Bjorn at bjornjwinberg@gmail.com.');">About</a></li>
<!--             <li><a href="{% url 'stockmusic_app:AboutView' %}" onClick="MyWindow=window.open('http://127.0.0.1:8000/stockmusic_app/about','MyWindow',width=600,height=300); return false;">Click Here</a></li> -->
          </ul>
        </div>
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <div class="jumbotron">
        <h1 id="stocksong">$tock$ong</h1>
        <p>
        <button type="button" class="btn btn-success" id="start" data-toggle="tooltip" title="This button starts your theremin: vertical for volume, horizontal for pitch.">start</button>
<!--         <button type="button" class="btn btn-info" id="pitch_up">up</button>
        <button type="button" class="btn btn-primary" id="pitch_down">down</button> -->
        <button type="button" class="btn btn-danger" id="shut_up" data-toggle="tooltip" title="This button stops your theremin.">stop</button>
<!--         <button type="button" class="btn btn-danger" id="stop_worker" data-toggle="tooltip" title="Stops worker.">Stop Worker</button> -->
        <!-- <div id="price_display"></div> -->
        <!-- <div id="threshold_display"></div> -->
        <div class = "innur" id="fuckup"></div>
        <div class = "innur" id="welcome"></div>
        </p>
      </div>


<div id="form_and_chart">

  <!-- <div class = "innur" id="fuckup"></div> -->

    <div id="form_left">
    <form class="form-horizontal" role="form" id="stock_form" method="GET" action="/stockmusic_app/prices">

      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd" data-toggle="tooltip" title="Please enter a valid ticker. Examples: aapl, spy, brk-a, fb.">Company:</label>
        <div class="col-sm-10">
            <select name="company" autofocus class="form-control">
                <option value="aapl">Apple</option>
                <option value="fb">Facebook</option>
                <option value="qqq">NASDAQ 100</option>
                <option value="spy">S&P 500</option>
                <option value="dia">Dow Jones Industrial Average</option>
                <option value="brk-a">Berkshire Hathaway, Class A</option>
                <option value="f">Ford</option>
                <option value="hog">Harley Davidson</option>
                <option value="wgo">Winnebago</option>
                <option value="cvx">Chevron</option>
                <option value="hal">Halliburton</option>
                <option value="dow">Dow Chemical</option>
            </select>
        </div>
      </div>


      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd" data-toggle="tooltip" title="Enter a valid start date. Please note that if you enter a date before the company was publicly listed, or if Yahoo Finance's API just doesn't have the data, an error message will display.">Start Date:</label>
        <div class="col-sm-10">
          <input type="date" name="start_date" required value="2005-01-01" min="2005-01-01" max="2015-08-07" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd" data-toggle="tooltip" title="Yahoo Finance's API doesn't return querysets that span more than about 18 months, so this field is capped below that." value="30">Duration:</label>
        <div class="col-sm-10">
            <select name="duration" class="form-control">
                <option value="7">1 week</option>
                <option value="30" selected="selected">1 month</option>
                <option value="90">3 months</option>
                <option value="180">6 months</option>
                <option value="365">1 year</option>
            </select>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd" data-toggle="tooltip" title="This is the number of trailing days used to calculate the current moving average. Higher values are generally better for tracking long-term trends.">Lookback:</label>
        <div class="col-sm-10">
          <input type="number" name="lookback" min="2" max="365" value="10" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd" data-toggle="tooltip" title="Positive percentage change necessary from initial price to trigger an alert.">Positive Threshold:</label>
        <div class="col-sm-10">
          <input type="number" name="positive-threshold" min="1" max="100" value="100" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd" data-toggle="tooltip" title="Negative percentage change necessary from initial price to trigger an alert."> Negative Threshold:</label>
        <div class="col-sm-10">
          <input type="number" name="negative-threshold" min="-100" max="-1" value="-100" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd" data-toggle="tooltip" title="Higher values mean a slower song and chart.">Tempo:</label>
        <div class="col-sm-10">
            <select name="tempo" class="form-control">
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="150">150</option>
                <option value="200" selected="selected">200</option>
                <option value="400">400</option>
            </select>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd" data-toggle="tooltip" title="The character of the synthesizer. Castlevania is a good all-around choice.">Instrument:</label>
        <div class="col-sm-10">
            <select name="instrument" class="form-control">
                <option value="castlevania">Castlevania</option>
                <option value="wobbly">Wobbly</option>
            </select>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd"></label>
        <div class="col-sm-10">
            <input type="submit" value="Submit" class="form-control">
        </div>
      </div>

    </form>

    <button type="button" class="btn btn-danger" id="stop_worker" data-toggle="tooltip" title="Lets you hover through the chart.">Interactive Mode</button>

    </div>
    <div id="chart_right">
        <canvas id="myChart" width="520" height="400"></canvas>
    </div>

    <div id="asdf">
        <div id="scamp">
            <div class = "innur" id="price_display"><h6>PRICE</h6><hr><h1></h1></div>
            <div class = "innur" id="date_display"><h6>DATE</h6><hr><h1></h1></div>
            <div class = "innur" id="volume_display"><h6>VOLUME</h6><hr><h1></h1></div>
        <div>
        <div class = "innur" id="lineBackground"></div>​
    </div>

</div>


    </div> <!-- /container -->

  </body>

  {% verbatim %}
      <script id="fuckup2" type="x-tmpl-mustache">
          <div class="alert alert-danger" role="alert">
            <p>{{error}}</p>
          </div>
      </script>

      <script id="welcome2" type="x-tmpl-mustache">
          <div class="alert alert-info" role="alert">
            <p><b>Welcome! Hover over things for more info!.<b></p>
          </div>
      </script>
  {% endverbatim %}

</html>
