body {
    font-family: 'Exo 2', sans-serif;
    background: linear-gradient(0deg, white, lightblue);
    background-repeat: no-repeat;
}

.jumbotron {
    background-image: url("blam.jpg");
    background-size: cover;
    height: 17em;
}

#stocksong {
    color: white;
    text-shadow: 0 0 5px blue;
    margin-top: .7em;
    font-size: 5em;
}

.jumboRight {
    margin-top: .45em;
    font-size: 10em;
}


#form_and_chart {
    display: inline-block;
    width: 100%;
}

#form_left, #chart_right {
    width: 45%;
    display: inline-block;
}

#chart_right{
    float: right;
}

#scamp {
    width: 100%;
}

.chartFeedback {
    border-style: solid;
    border-radius: .2em;
    display: inline-block;
    font-size: 4em;
    color:red;
    width: 33%;
    opacity:0.5;
    text-align: center;
    min-height: 104px;
}

#price_display {
    color:red;
}

#date_display {
    color: green;
}

#volume_display {
    color: blue;
}

#lineBackground {
    min-height: 310px;
}
