<!DOCTYPE html>
<html lang="en">
  <head>

    {% load staticfiles %}

    <style>
    div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;  Gets overriden by D3-assigned height in html
    margin-right: 2px;
    background-color: teal;
    }

    .pumpkin {
        fill: yellow;
        stroke: orange;
        stroke-width: 5;
     }
    </style>
    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://dimplejs.org/dist/dimple.v2.1.6.min.js"></script>
    <script src="{% static 'stockmusic_app/dist/flocking-all.min.js' %}"></script>
    <script src="{% static 'stockmusic_app/wad-min.js' %}"></script>
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Rye' rel='stylesheet' type='text/css'>
    <title>D3 Demo: 5-div bar chart</title>

  </head>
  <body>

  stockmusic

    <script type="text/javascript">

        var dataset = [];                        //Initialize empty array
        for (var i = 0; i < 25; i++) {           //Loop 25 times

            var newNumber = Math.round(Math.random() * 30);;  //New random number (0-30), rounded to a whole number instead of a float/decimal

            dataset.push(newNumber);             //Add new number to array
        }

        d3.select("body").selectAll("div")

        .data(dataset) // Give data() ten values, and it will loop through ten times. Give it one million values, and it will loop through one million times. (Just be patient.)

        .enter() // To create new, data-bound elements, you must use enter(). This method looks at the DOM, and then at the data being handed to it. If there are more data values than corresponding DOM elements, then enter() creates a new placeholder element on which you may work your magic. It then hands off a reference to this new placeholder to the next step in the chain.

        .append("div") // Takes the placeholder selection created by enter() and inserts a div element into the DOM. Hooray! Then it hands off a reference to the element it just created to the next step in the chain.

        .attr("class", "bar") // this adds a class to an element

        .style("height", function(data) { //'style' applies css property and value to element
            var barHeight = data * 5;
            return barHeight + "px";
        });

        svg.selectAll("circle")
            .data(dataset)
            .enter()
            .append("circle");

        var circles = svg.selectAll("circle")
                 .data(dataset)
                 .enter()
                 .append("circle");

        circles.attr("cx", function(d, i) {
            return (i * 50) + 25;
        })
       .attr("cy", h/2)
       .attr("r", function(d) {
            return d;
       });

    </script>

    <svg width="10em" height="10em">
        <line x1="0" y1="0" x2="0" y2="500" stroke="black" stroke-width="2em"/>
        <line x1="0" y1="0" x2="500" y2="0" stroke="blue" stroke-width="1em"/>
        <rect x="10" y="10" width="500" height="50" opacity="0.1"/>
        <rect x="10" y="90" width="500" height="50" fill="red"/>
    </svg>

    <svg>
    <circle cx="25" cy="25" r="22" class="pumpkin"/>
    </svg>

    <svg>
    <rect x="0" y="0" width="30" height="30" fill="whitee"/>
    <rect x="20" y="5" width="30" height="30" fill="blue"/>
    <rect x="40" y="10" width="30" height="30" fill="green"/>
    <rect x="60" y="15" width="30" height="30" fill="orange"/>
    <rect x="80" y="20" width="30" height="30" fill="red"/>
    </svg>

    <svg>
    <circle cx="25" cy="25" r="20" fill="rgba(128, 0, 128, 1.0)"/>
    <circle cx="50" cy="25" r="20" fill="rgba(0, 0, 255, 0.75)"/>
    <circle cx="75" cy="25" r="20" fill="rgba(0, 255, 0, 0.5)"/>
    <circle cx="100" cy="25" r="20" fill="rgba(255, 255, 0, 0.25)"/>
    <circle cx="125" cy="25" r="20" fill="rgba(255, 0, 0, 0.1)"
    </svg>

    circles.attr("cx", function(d, i) {
            return (i * 50) + 25;
        })
       .attr("cy", h/2)
       .attr("r", function(d) {
            return d;
       });


<div id="chartContainer">
    <script src="{% static 'stockmusic_app/wad-min.js' %}"></script>
    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://dimplejs.org/dist/dimple.v2.1.6.min.js"></script>

    <script type="text/javascript">

        var svg = dimple.newSvg("#chartContainer", 590, 400);

            d3.tsv("{% static 'stockmusic_app/example_data.tsv' %}", function (data) {

              // Filter for a single SKU and Channel
              data = dimple.filterData(data, "SKU", "Theta 18 Pack Standard");
              data = dimple.filterData(data, "Channel", "Hypermarkets");

              // Create and Position a Chart
              var myChart = new dimple.chart(svg, data);
              myChart.setBounds(60, 30, 500, 300);
              var x = myChart.addCategoryAxis("x", "Month")
              myChart.addMeasureAxis("y", "Unit Sales");

              // Order the x axis by date
              x.addOrderRule("Date");

              // Min price will be green, middle price yellow and max red
              myChart.addColorAxis("Price", ["green", "yellow", "red"]);

              // Add a thick line with markers
              var lines = myChart.addSeries(null, dimple.plot.line);
              lines.lineWeight = 5;
              lines.lineMarkers = true;

              myChart.draw();
        });
    </script>
</div>

    <script type="text/javascript">
        var sine1 = new Wad({ source : 'sine', pitch: 'A4' })
        var sine2 = new Wad({ source : 'sine', pitch: 'E4' })
        var sine3 = new Wad({ source : 'sine', pitch: 'C#4' })

        var tripleOscillator = new Wad.Poly()

        tripleOscillator.add(sine1).add(sine2).add(sine3)
        tripleOscillator.play ({
            env : {
                attack  : 0.1,
                decay   : 0.0,
                sustain : 1.0,
                hold    : 1,
                release : 1
                },
            volume : .3,
        });
    </script>

  </body>
</html>
