<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>A Flocking Project</title>

        {% load staticfiles %}
        <script src="{% static 'stockmusic_app/flocking-all.min.js' %}"></script>
        <script src="{% static 'stockmusic_app/myStuff.js' %}"></script>
        <script src="{% static 'stockmusic_app/domScript.js' %}"></script>

    </head>

    <body>
        yoyoma

        <button type="button" id="start">start synth</button>
        <button type="button" id="shut_up">stop synth</button>

    </body>
</html>
